.Form{
    margin-left:100px;
}
.Input{
margin-left:100px;
}
.Button{
    margin-left:100px;
 
}
.Input1{
    margin-left:100px;
}
.main{
    margin-left:200px;
    font-size: 150%;
    color:black;
   
}
.main1{
    margin-left:150px;
    font-size: 150%;
    color:black;
   
}
.errorMsg {
    color: #cc0000;
    margin-left:100px;
  }
  
 