.Form{
    margin-top:100px;
    margin-left: 266px;
}
.loginform{
    margin-top: 100px;
    margin-left: 200px;
}
.Employee{
margin-top: 100px;
margin-left: 52px; 
}
.product{
margin-top: 100px;
margin-left: 52px;  
}
.Input{
margin-left:100px;
}
.Button{
    margin-left:100px;
 
}
.Input1{
    margin-left:100px;
}
.main{
    margin-left:230px;
    font-size: 150%;
    color:black
   
}
.login{
    margin-left:221px;
    font-size: 150%;
    color:black;
   
}
.errorMsg {
    color: #cc0000;
    margin-left:100px;
  }
  
 