.Form{
    margin-top:100px;
    margin-left: 266px;
}
.loginform{
    margin-top: 100px;
    margin-left: 200px;
}
.Employee{
margin-top: 100px;
margin-left: 52px; 
}
.product{
margin-top: 100px;
margin-left: 52px;  
}
.product1{
    margin-left: 52px;  
    }
    .product2{
        margin-left: 59px;  
        }
.Input{
margin-left:100px;
}
.Button{
    margin-left:100px;
 
}
.Input1{
    margin-left:100px;
}
.main{
    margin-left:230px;
    font-size: 150%;
    color:black
   
}
.login{
    margin-left:100px;
    font-size: 150%;
    color:black;
   
}
.errorMsg {
    color: #cc0000;
    margin-left:100px;
  }
  .errorMsg1 {
    color: #cc0000;
    margin-left:13px;
  }
 .check{
    margin-left: 36px;
 }
